/*// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You*/ /*can use Sass (SCSS) here: http://sass-lang.com/*/

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 4.5em;
  color: white;
  font-weight: 200;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 1000;
  color: black;
  font-size: 1.4em;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: black;
  font-size: 1.0em;
}

a {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: orange;
  font-size: .75em;
  text-decoration: none;
}
.username_container, .feedtitle_container, .composetitle_container, .signuptitle_container {
  display: relative;
  top: 7%;
  width: 75%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.post_container, .signup_container {
  display: block;
  width: 50%;
  margin: 0 auto;
  height: 30em;
  overflow: scroll;
  border-radius: 25%;
  background-color: rgba(255, 255, 255, 0.5);
}

#my_posts {
  text-align: left;
  display: block;
  width: 28.875em;
  height: 9.375em;
  overflow: auto;
  margin: 0 auto;
  padding-left: 5%;
}

#feed_posts {
  padding-left: 20%;
}

#flash_alert {
  text-align: center;
}


#compose_posts {
  padding-left: 35%;
  padding-top: 5%;
}

#signup {
padding-top: 5%;
padding-left: 30%
}










